<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>


			
		<script>

			$(document).ready(function(){

			$('body').stellar();
		
		});


		</script>
     </head>

<body>
<div id="container">

	<div id="bloqueflotante" data-stellar-ratio="0.1"><h3>Soy un texto flotante!</h3></div>
	<div id="bloqueflotante2" data-stellar-ratio="1.3"><h3>Soy otro texto flotante diferente!</h3></div>
	<div id="bloqueflotante3" data-stellar-ratio="1.1"><h3>Soy otro texto flotante diferente!</h3></div>

	<section>
	<div id="primeraseccion" data-stellar-background-ratio="0.5">
			<div class="azul">
			<p>Lorizzle ipsizzle dolizzle boofron daahng dawg, mofo adipiscing fizzle. Nullizzle ma nizzle velizzle, bling bling volutpat, dizzle , gravida the bizzle, arcu. Mah nizzle egizzle gangsta. Go to hizzle eros. Get down get down izzle funky fresh crazy i saw beyonces tizzles and my pizzle went crizzle gangsta gangster. Mauris pellentesque nibh et shiznit. For sure in get down get down. eleifend rhoncizzle nisi. In hizzle dizzle dictumst. Donec dapibizzle. Sure tellizzle i'm in the shizzle, pretium break it down, mattis izzle, eleifend vitae, nunc. Nizzle suscipit. Crunk sempizzle yo sizzle purizzle.</p>
		</div>
	
	</div></section>
	<section>

	<div id="segundaseccion" data-stellar-background-ratio="0.6">
			<div class="rojo">
			<p>Lorizzle ipsizzle dolizzle boofron daahng dawg, mofo adipiscing fizzle. Nullizzle ma nizzle velizzle, bling bling volutpat, dizzle , gravida the bizzle, arcu. Mah nizzle egizzle gangsta. Go to hizzle eros. Get down get down izzle funky fresh crazy i saw beyonces tizzles and my pizzle went crizzle gangsta gangster. Mauris pellentesque nibh et shiznit. For sure in get down get down. eleifend rhoncizzle nisi. In hizzle dizzle dictumst. Donec dapibizzle. Sure tellizzle i'm in the shizzle, pretium break it down, mattis izzle, eleifend vitae, nunc. Nizzle suscipit. Crunk sempizzle yo sizzle purizzle.</p>
			</div>
	
	</div></section>

	
	<section>	
	<div id="terceraseccion" data-stellar-background-ratio="0.7">
			<div class="verde">
			<p>Lorizzle ipsizzle dolizzle boofron daahng dawg, mofo adipiscing fizzle. Nullizzle ma nizzle velizzle, bling bling volutpat, dizzle , gravida the bizzle, arcu. Mah nizzle egizzle gangsta. Go to hizzle eros. Get down get down izzle funky fresh crazy i saw beyonces tizzles and my pizzle went crizzle gangsta gangster. Mauris pellentesque nibh et shiznit. For sure in get down get down. eleifend rhoncizzle nisi. In hizzle dizzle dictumst. Donec dapibizzle. Sure tellizzle i'm in the shizzle, pretium break it down, mattis izzle, eleifend vitae, nunc. Nizzle suscipit. Crunk sempizzle yo sizzle purizzle.</p>
			</div>
	</div></section>
	
</div>
