/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */




/* stellar index welcome*/
body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
	margin: 0; padding: 0; border: 0;
}

body {
	background: #fff;
	font-size: 16px;
	line-height: 30px;
	font-family: "Lato", sans-serif;
	color: #888888;
}


section {
	background: #f1f1f1;
	width: 100%;
	}

section > h3
{

 	width: 100%;
 	text-align: center;
 	font-family: "Lato";
 	font-size: 16px;
 	text-transform: uppercase;
 	color: #333333;
 	padding: 25px 0 25px 0; 
 	background-color: #fff;
 	margin: 0 auto;
 	

}

#primeraseccion, #segundaseccion, #terceraseccion {
	width: 100%; 
	margin: 0 auto;
	height: 600px;

}

#primeraseccion p, #segundaseccion p, #terceraseccion p {
	
	padding: 70px 50px 110px 40px;

	}

#primeraseccion {

	background-image: url(cd ../images/00.jpg);
	background-size: cover;

	color: #fff;
}

#segundaseccion {

	background: url(/cd ../images/01.jpg);
	background-size: cover;
	color: #fff;

}

#terceraseccion {

	background: url(/cd ../images/02.jpg);
	background-size: cover;
	color: #fff;
}

.azul{

	background-color: #2c3e50;
	width: 400px;
	opacity: 0.5;
}

.rojo{

	background-color: #d2394f;
	width: 400px;
	opacity: 0.5;
}

.verde{

	background-color: #a0cb38;
	width: 400px;
	opacity: 0.8;
}

#bloqueflotante {

	position: absolute;
	padding: 30px;
	width: 300px;
	height: 80px;
	right: 40px;
	top: 80px;
	opacity: 0.8;
	background: #34495e;

}


#bloqueflotante2 {

	position: absolute;
	padding: 50px;
	border-radius: 4px;
	width: 300px;
	height: 100px;
	right: 290px;
	top: 700px;
	opacity: 0.5;
	background:#e74c3c;

}


#bloqueflotante3 {

	position: absolute;
	padding: 50px;
	border-radius: 4px;
	width: 200px;
	height: 100px;
	right: 200px;
	top: 900px;
	opacity: 0.5;
	background:#2ecc71;

}


 h3{

	color: #fff;
	font-weight: 100;
	font-family: "Lato";
	font-size: 30px;

}

